[Unit]
Description=ZeroStomp

[Service]
ExecStart=zerostomp
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zerostomp
User=pi
Group=pi
WorkingDirectory=/boot/zerostomp

[Install]
WantedBy=basic.target